/** MEYER RESET v1.0 **/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,
q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}
del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/** CSS REBOOT BASED ON BLUESTRIP SCREEN **/
strong, th, thead td, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var { font-size: 92%; font-family: monaco, "Lucida Console", courier, monospace; }
del { text-decoration: line-through; color: #666; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

h1 { font-size: 1.6em; margin: 1em 0 .5em; }
h2 { font-size: 1.5em; margin: 1.07em 0 .535em; }
h3 { font-size: 1.3em; margin: 1.14em 0 .57em; }
h4 { font-size: 1.2em; margin: 1.23em 0 .615em; }
h5 { font-size: 1em; margin: 1.33em 0 .67em; }
h6 { font-size: .9em; margin: 1.6em 0 .8em; }

a { text-decoration: none; }

.error, .notice, .success {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11; background:none; padding:0; margin:0; }
.notice a {color:#514721; background:none; padding:0; margin:0; }
.success a {color:#264409; background:none; padding:0; margin:0; }

/** CARDSCAPE CSS **/
/*COLOR SCHEME DESIGNER 3: BDD2E5 95A1AC 3D6C95 D2E3F2 DBE7F2*/

@font-face {
    font-family: GenAI102;
    src: url("../fonts/GenAI102.TTF");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: justify;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    background-color: #95A1AC;
}

.clear {
    clear: both;
}

#header {
    margin: 0;
    padding: 0;
    height: 128px;
    background-color: #BDD2E5;
}

#header #session-tools {
    margin: 0;
    padding: 0;
    height: 35px;
    width: 100%;
    background: #323232 url("../images/session-tools-bg.png") repeat-x;
    color: #FFF;
    text-align: right;
    line-height: 35px;
}

#header .title {
    font-family: GenAI102;
    font-size: 3.6em;
    margin-left: 2.5em;
}

#header #session-tools a, #header #session-tools a:visited, #header #session-tools a:hover {
    color: #FFF;
}

.navigation {
    margin: 0;
    padding: 0;
    height: 32px;
    width: 100%;
    background-color: #3D6C95;
    color: #D2E3F2;
}

.navigation ul {
    width: 90%;
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    height: 32px;
    line-height: 32px;
}

.navigation ul li a {
    display: block;
    padding: 0 10px 0 10px;
    margin: 0 4px 0 4px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
}

.navigation li.active a {
    /*color: #F7A849;*/
}

.navigation ul li a:hover {
    /*color: #F7A849;*/
}

#page {
    padding: 0;
    /*background-color: #DBE7F2;*/
    background-color: #FFF;
    border-top: none;
    width: 90%;
    min-height: 60%;
    margin: 0 auto;
    padding: 0;
    box-shadow: 2px 2px 8px 2px #3D6C95;
    /*overflow: auto;*/
}

.content {
    margin: 0;
    padding: 0;
    /* HACK margin collapse issue */
    display: inline-block;
    width: 100%;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: GenAI102;
    font-weight: normal;
}

.footer {
    margin: 0;
    padding: 0;
    color: #BDD2E5;
    margin: .7em auto;
    width: 90%;
}

.footer a, .footer a:visited {
    color: #BDD2E5;
}

.footer ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.footer ul li a {
    display: block;
    padding: 0 5px 0 5px;
    margin: 0 4px 0 4px;
    text-decoration: none;
    text-align: center;
}

.footer ul li.active a {
}

.footer ul li a:hover {
}

/** MISC **/
.half-block {
    float: left;
    display: inline-block;
    width: 50%;
}

.grid-header-tools a {
    margin-right: .5em;
}


/** FORM ELEMENTS **/
input, select {
    padding: .3em;
}

form .row {
    margin-bottom: .5em;
}

.row label {
    display: inline-block;
    width: 100px;
}

span.required {
    color: #F00;
}

.row a.cancel, .row a.cancel:hover, .row a.cancel:visited, .row a.cancel:active {
    color: #AA0F10
}

.row select, .row input, .row textarea {
    border: solid 1px #3D6C95;
    margin-left: .5em;
}

.row select:focus, .row input:focus, .row textarea:focus {
    border: solid 1px #BDD2E5;
}

.row input[type="submit"] {
    padding: 5px 10px 5px 10px;
    border: 1px solid #DEDEDE;
    background-color: #F5F5F5;
    text-decoration: none;
    color: #565656;
    cursor: pointer;
    margin-right: 1.3em;
}

.row input[type="submit"]:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
}

.row.last {
    margin-top: 2em;
}

/** GRIDVIEWS **/
.grid-view table {
    width: 100%;
    border: none;
    margin-bottom: .6em;
}

.grid-view .summary, .grid-view .pager {
    display:inline-block
}

.grid-view .pager {
    float: right;
}

.grid-view .filters td {
    padding: 0;
    text-align: center;
}
.grid-view .filters input, .grid-view .filters select {
    padding: 0.1em;
    width: 90%;
}

.grid-view thead tr:last-child {
    border-bottom: solid 5px #FFF;
}

.grid-view thead tr:first-child {
    /*border: solid 1px #FFF;*/
    /*background-color: rgba(170, 170, 170, .2);*/
}

.button-column {
    width: 80px;
    text-align: center;
}

.grid-header-tools {
    text-align: right;
}

.grid-view .odd {

}

.grid-view .even {
    /*background-color: rgba(170, 170, 170, 0.2) */
}

/** ATTRIBUTES FORM **/
.hidden {
    display: none;
    visibility: hidden;
}

/** CARDS FORMS AND LISTINGS **/
.card-data {
    width: 100%;
}

.card-image {
    display: inline-block;
    float: left;
    width: 329px;
    text-align: center;
}

.card-image img {
    max-width: 309px;
}

.card-detais .card-data {
    display: inline-block;
    float: left;
    width: 50%;
    margin-left: .3em;
}

.card-detais .card-data tr td:first-child {
    width: 200px;
}

.revision-author {
    text-align: right;
    width: 100%;
    margin-top: .5em;
}