body {
    background-color: #6F605A;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    padding: 0;
    font-size: 12px;
    margin: 0px auto auto auto;
    color: #000000;
    text-align: justify;
}

a {
    color:#F8981d;
}

#page {
    background-color: #FFFFFF;
}

#header {
    height: 181px;
    background: url('../images/header-center.jpg') no-repeat;
}

#logo {
    height: 151px;
}
.navigation {
    height: 30px;
    background-color: transparent;
}

.navigation ul {
    display: block;
    list-style: none;
    padding: 9px 0 0 10px;
    margin: 0px;
}

.navigation ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
    height: 20px;
}

.navigation ul li a {
    height: 27px;
    display: block;
    padding: 0px 10px 0 10px;
    margin: 0 4px 0 4px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-size: 13px;
    line-height: 25px;
}

.navigation ul li.active a {
    height: 27px;
    display: block;
    padding: 0px 10px 0 10px;
    margin: 0 5px 0 5px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #F7A849;
    font-size: 13px;
    line-height: 25px;
}

.navigation ul li a:hover {
    color: #F7A849;
}

#content-wrapper {
    border-top: 1px #B2B2B2 solid;
    background: url("../images/background.png") repeat ;
}

.content {
    width: 98%;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.footer {
    height: 45px;
    border-top: 1px #B2B2B2 dashed;
}

.footer .left {
    float: left;
    padding: 10px 0 0 10px;
}

.footer .right {
    float: right;
    padding:10px 10px 0 0;
}

.footer a {
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: #AFAEAF;
}