.grid-view table {
    width: 100%;
    border: none;
}

.button-column {
    width: 60px;
    text-align: center;
}

.grid-view .odd {

}

.grid-view .even {
    background-color: rgba(170, 170, 170, 0.2)

}

.grid-view td, .grid-view th {
    padding: .4em;
    border: none;
    border-left: solid 1px #FFF;
    border-right: solid 1px #FFF;
}

.grid-view .summary, .grid-view .pager {
    display:inline-block
}

.grid-view .pager {
    float: right;
}

.grid-view .filters td {
    padding: 0;
    text-align: center;
}
.grid-view .filters input, .grid-view .filters select {
    padding: 0.1em;
    width: 90%;
}

.grid-view thead tr:last-child {
    border-bottom: solid 5px #FFF;
}

.grid-view thead tr:first-child {
    border: solid 1px #FFF;
    background-color: rgba(170, 170, 170, .2);
}