body, ul, img, a, h1, h2, h3, input, select, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Geneva, Helvetica, Verdana, Arial, sans-serif;
    text-align: justify;
    font-size: 10pt;
}

#header {
    background-image: url(../images/header-center.jpg);
    height: 125px;
    color: #FFFFFF;
}

#header a {
    color: #FFF;
}

#header h1 {
    float: left;
    width: 60%;
}

#tools {
    float: left;
    width: 38%;
    text-align: right;
}

#menubar {
    margin: 50px 0 0 0; 
}

#menubar ul {
    list-style: none;
    float: right;
}

#menubar li {
    float: left;
    list-style: none;
}

#menubar a {
    display: block;
    color: #FFF;
    padding: 0 2em 0 2em;
}

#menubar li.active a {
    color: yellow;
}

#content {
    /*background-color: #CCCCCC;*/
}

#footer {
}

a, a:visited {
    text-decoration: none;
}

input, select, textarea {
    border: 1px solid #000;
}

input, select {
    padding: 0.3em;
}

.row {
}


#loginarea {
    width: 49%;
    float: left;
}

#registerarea {
    width: 49%;
    float: right;
}

fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

legend {
    padding: 0 .8em 0 .8em;
    margin-left: 25px;
}

/*.error, .notice {
    padding: 5px;
    font-weight: bold;
}

.error {
    border: 3px dashed yellow;
    background-color: #FF0000;
}

.notice {
    border: 3px solid #0000FF;
    background-color: #FFFFFF;
}

#flavor {
  font-style: italic;
}

.comments_table {
    background-color: #cccccc;
    border: 3px solid #000000;
    padding: 2px;
}

.comments_table td {
    border-bottom: 2px solid #444444;
    margin-left: 0px;
}

.statistics {
    border: 1px solid #000000;
    margin: 3px;
}

.js_comment {
    margin-left: 20px;
}

.js_comment .js_comment {
    display: none;
}
*/